<section
  id="clients"
  class="bg-gray-100 py-8 md:h-1/2 lg:h-1/3 dark:bg-gray-900"
>
  <div class="mx-auto max-w-screen-xl px-4 py-12 lg:py-16">
    <h3
      class="text-center text-3xl font-bold text-gray-900 lg:text-4xl dark:text-white"
    >
      <!-- class: tracking-tight  ??-->
      Nuestros Clientes de Trayectoria
    </h3>
    <div class="xxl:grid-cols-6 grid grid-cols-3 gap-8 md:grid-cols-3">
      <!-- lg:grid-cols-4 -->

      <!-- Punto IT -->
      <a
        href="#testimonials"
        class="flex items-center justify-center grayscale transition hover:grayscale-0"
      >
        <img
          src="logos/logo-punto-it-2.png"
          alt="Punto IT logo"
          class="lg:min-h-30"
        />
      </a>

      <!-- ACHS -->
      <a
        href="#testimonials"
        class="flex items-center justify-center grayscale transition hover:grayscale-0"
      >
        <img
          src="/logos/logo-achs.svg"
          alt="ACHS logo"
          class="h-12 lg:min-h-20"
        />
      </a>

      <!-- CHILQUINTA -->
      <a
        href="#testimonials"
        class="flex items-center justify-center grayscale transition hover:grayscale-0"
      >
        <img
          src="/logos/logo-chilquinta.svg"
          alt="Chilquinta logo"
          class="h-12 lg:min-h-20"
        />
      </a>

      <!-- 
        <a href="#" class="flex justify-center items-center grayscale hover:grayscale-0 transition">
          <img src="/logos/tesla.svg" alt="Tesla logo" class="h-12">
        </a>
  
        <a href="#" class="flex justify-center items-center grayscale hover:grayscale-0 transition">
          <img src="/logos/twitch.svg" alt="Twitch logo" class="h-12">
        </a>
  
        <a href="#" class="flex justify-center items-center grayscale hover:grayscale-0 transition">
          <img src="/logos/intel.svg" alt="Intel logo" class="h-12">
        </a>
  
        <a href="#" class="flex justify-center items-center grayscale hover:grayscale-0 transition">
          <img src="/logos/shell.svg" alt="Shell logo" class="h-12">
        </a>
        -->
    </div>
  </div>
</section>
