<section
  class="relative overflow-hidden bg-gradient-to-br from-white to-primary-400 py-16 lg:py-20 dark:from-gray-900 dark:to-gray-800"
  id="consulting-services"
>
  <div class="mx-auto max-w-screen-xl px-4 py-12 lg:py-20">
    <div class="mb-8 text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white">
        {{ title }}
      </h2>
    </div>
    <div class="grid gap-6 md:grid-cols-3">
      <!-- Consulting service items -->
      @for (service of consultingServices; track service.name) {
        <article
          class="flex flex-col items-center rounded-xl border border-gray-200 bg-white p-6 text-center shadow-lg transition-transform duration-300 hover:scale-110 hover:shadow-xl dark:border-gray-700 dark:bg-gray-800"
        >
          <!-- Icon container -->
          <div
            class="icon-container mb-4"
            [innerHtml]="getSvg(service.svgIdentifier)"
          ></div>

          <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
            {{ service.name }}
          </h3>
          <p class="text-gray-600 first-letter:uppercase dark:text-gray-300">
            {{ service.description }}
          </p>
        </article>
      }
    </div>
  </div>
</section>
